<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blackpearlceramic.in|All type of ceramic Tiles & Sanitary</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" media="screen and (max-width: 800px)" href="static/phone.css" !important>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="header">
        <div class="header-container">

            <div class="left-header">
                <ul>
                    <li id="firstchild" class="item"> <a href="tel:+917227875505">
                            <div class="material-icons">add_ic_call</div><span>722-787-5505</span>
                        </a></li>

                    <li class="item"> <a href="mailto:blackpearlceramic1929@gmail.com">
                            <div class="material-icons">mail</div><span>blackpearlceramic1929@gmail.com</span>
                        </a></li>



                </ul>

            </div>

            <div class="right-header">
                <ol>
                    <li class="login">
                        <button>

                            <i class="fa fa-user" aria-hidden="true"></i>

                            <span>login now </span>
                        </button>
                    </li>




                </ol>

            </div>
        </div>
    </div>


    <div id="login-form">
        <div class="login-register-maincontainer">
            <div class="close" onclick="document.getElementById('login-form').style.display='none'">
                <i class="fa fa-close"></i>
            </div>
            <form id="login-maincontainer" action="" method="post">

                <div class="avatar">
                    <i class="fa fa-user-circle-o"></i>
                </div>
                <div class="login-container">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Please Enter Your Email" name="email" required>

                    <label for="psw">Password</label>
                    <input type="password" placeholder="Please Enter Your Password" name="psw" required>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                    <button type="submit">Login</button>
                    <span class="register">Not already registered? <i onclick="register()">Register
                            Now!</i></span>
                </div>
            </form>


            <form id="register-container" action="/" method="post">

                <label for="fullname">Full Name</label>
                <input type="text" placeholder="Please Enter Your Full Name" name="fullname" required>

                <label for="phone">Phone number</label>
                <input type="tel" placeholder="Please Enter 10 Digit Mobile Number" name="phone"
                    pattern="[6789][0-9]{9}" required>

                <label for="email">Email</label>
                <input type="email" placeholder="Please Enter Your Email" name="email" required>

                <label for="psw">Password</label>
                <input type="password" placeholder="Please Enter Your Password" name="psw" required>
                <button type="submit">Register</button>
                <span class="register">already registered? <i onclick="loginbtn()">Login Now!</i></span>



            </form>
        </div>

    </div>

    <nav id="navbar2">
        <div class="burgar none" onclick="lockScroll()">
            <span class="material-icons"> menu</span>
        </div>
        <div class="nav-container">


            <div id="logo">
                <a href="/"><img src="static/imgs/logo.png" alt="Blackpearl"></a>
            </div>

            <div class="navigation-menu">
                <ul class="menu">
                    <li class="item"><a class="active" href="/">Home</a></li>
                    <li class="item drop-item"><a href="#">Tiles <span><img src="static/imgs/drop-down.png"></span></a>
                        <ol class="drop-down">

                            <ul class="left-drop-down">
                                <h1>CATOGRY</h1>
                                <li><a href=" /services-container">600×600 mm <br class="br-none"> Glazed Vitrified
                                        Tiles</a></li>
                                <li><a href=" /services-container">600×1200 mm <br class="br-none"> Glazed Vitrified
                                        Tiles</a></li>
                                <!-- <li><a href=" /services-container">600×600 mm <br> Polished Glazed Vitrified Tiles</a></li> -->
                                <!-- <li><a href=" /services-container">600×1200 mm <br> Polished Glazed Vitrified Tiles</a></li> -->
                                <li><a href=" /services-container">All Types of <br class="br-none"> Double Charge
                                        Vitrified </a>
                                </li>

                            </ul>

                            <ul class="center-drop-down">

                                <h1>floor-tiles</h1>
                                <li><a href=" /services-container">600×600 mm <br class="br-none"> Porceline-tiles</a>
                                </li>
                                <!-- <li><a href=" /services-container">600×1200 mm <br> Porceline-tiles </a></li> -->
                                <li><a href=" /services-container">300×300 inch <br class="br-none">Parking-tiles</a>
                                </li>
                                <li><a href=" /services-container">400×400 inch <br class="br-none"> Parking-tiles</a>
                                </li>


                            </ul>


                            <ul class="right-drop-down">

                                <h1>wall-tiles</h1>
                                <li><a href=" /services-container">300×450 mm <br class="br-none">Wall-tiles</a></li>
                                <li><a href=" /services-container">300×600 mm <br class="br-none"> Wall-tiles</a></li>


                            </ul>

                        </ol>



                    </li>
                    <li class="item"><a href="/services-container2">Sanitarywears</a></li>
                    <li class="item"><a href="/contact">Contact Us</a></li>
                    <li class="login1 none">
                        <button>

                            <i class="fa fa-user" aria-hidden="true"></i>

                            <span>login now </span>
                        </button>
                    </li>
                </ul>
            </div>


        </div>

        <form class="search-icons" action="">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">
                <span> <img src="static/imgs/search.png"> </span>
            </button>
        </form>
        </div>
        <div class="social-media">
            <ul>
                <li> <i><img src="static\imgs\facebook.png"></i>
                    <p><a href=""> follow us on facebook</a></p>
                </li>
                <li> <i><img src="static\imgs\instagram.png"></i>
                    <p><a href="">follow us on instagram</a></p>
                </li>
                <li> <i><img src="static\imgs\twitter.png"></i>
                    <p><a href="">follow us on twitter</a></p>
                </li>
                <li> <i><img src="static\imgs\linkedin.png"></i>
                    <p><a href="">follow us on linkedin</a></p>
                </li>
            </ul>
        </div>
    </nav>




    <div class="body-container">

        <section class="main-container">
            <div class="slide-container">

                <div class="slide">
                    <img src="static\imgs\img.jpg" alt="">
                    <div class="caption">
                        <p>CAPTION1</p>
                    </div>

                </div>

                <div class="slide">
                    <img src="static\imgs\img2.jpg" alt="">

                    <div class="caption">
                        <p>CAPTION2</p>
                    </div>

                </div>

                <div class="slide">
                    <img src="static\imgs\img3.jpg" alt="">

                    <div class="caption">
                        <p>CAPTION3</p>
                    </div>

                </div>

                <a href="#" class="previous" onclick="controller(-1)">&#10094;</a>
                <a href="#" class="next" onclick="controller(1)">&#10095;</a>

                <div class="dots">
                    <div onclick="dot_slider(1)" class="dot"> </div>
                    <div onclick="dot_slider(2)" class="dot"> </div>
                    <div onclick="dot_slider(3)" class="dot"> </div>


                </div>


                <div class="slide-info">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat quaerat quidem ex
                        possimus
                        sunt unde labore rem debitis at id perferendis deleniti optio ducimus magni non corrupti sequi,
                        earum
                        ratione veniam nam dicta ab suscipit! Error enim obcaecati consequatur tempora magni? </p>

                </div>


            </div>

        </section>


        <section class="info-container">
            <div class="info-main-container">
                <div class="info-left-container">

                    <h2> BLACKPEARL'S PRIMIUM COLLECTION </h2>

                    <h1>Explore Our Wall Tiles</h1>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure vitae sunt quae veritatis saepe
                        ex, iste cum quod facere nihil ut dolore veniam illum possimus iusto eveniet beatae at expedita,
                        ratione odio. Nobis repellendus fugit natus, perspiciatis, error obcaecati alias ut recusandae
                        repellat sit laboriosam earum exercitationem eum odit delectus.</p>

                    <div class="wall-img">
                        <img src="static\imgs\walltile1.jpg">
                        <img src="static\imgs\walltile2.jpg">
                        <img src="static\imgs\walltile3.jpg">
                    </div>
                    <a class="exploreall-btn" href=" /services-container"> Explore All</a>
                </div>



                <div class="info-right-container">
                    <div class="specify-tile-top">

                        <div class="specify-tile"><img src="static\imgs\bathroom.png">
                            <h2>bathroom wall tiles</h2> <a href=" /services-container">Explore now</a>
                        </div>
                        <div class="specify-tile"> <img src="static\imgs\bedroom.png">
                            <h2>bedroom wall tiles</h2><a href=" /services-container">Explore now</a>
                        </div>
                        <div class="specify-tile"><img src="static\imgs\livingroom.png">
                            <h2>livingroom wall tiles</h2> <a href=" /services-container">Explore now</a>
                        </div>

                    </div>
                    <div class="specify-tile-bottom">

                        <div class="specify-tile"> <img src="static\imgs\kitchen.png">
                            <h2>kitchen wall tiles</h2><a href=" /services-container">Explore now</a>
                        </div>
                        <div class="specify-tile"> <img src="static\imgs\exterior.png">
                            <h2>exterior wall tiles</h2><a href=" /services-container">Explore now</a>
                        </div>
                        <div class="specify-tile"> <img src="static\imgs\commercial.png">
                            <h2>commercial wall tiles</h2><a href=" /services-container">Explore now</a>
                        </div>

                    </div>

                </div>

            </div>

        </section>

        <section class="info-container2">
            <div class="info-main-container">

                <div class="info-left-container2">

                    <div class="specify-tile-top2">

                        <div class="specify-tile"> <img src="static\imgs\exterior.png">
                            <h2>exterior Floor tiles</h2><a href=" /services-container">Explore now</a>
                        </div>
                        <div class="specify-tile"> <img src="static\imgs\commercial.png">
                            <h2>commercial Floor tiles</h2><a href=" /services-container">Explore now</a>
                        </div>
                        <div class="specify-tile"> <img src="static\imgs\kitchen.png">
                            <h2>kitchen Floor tiles</h2><a href=" /services-container">Explore now</a>
                        </div>

                    </div>

                    <div class="specify-tile-bottom2">

                        <div class="specify-tile"><img src="static\imgs\bathroom.png">
                            <h2>bathroom Floor tiles</h2> <a href=" /services-container">Explore now</a>
                        </div>
                        <div class="specify-tile"> <img src="static\imgs\bedroom.png">
                            <h2>bedroom Floor tiles</h2><a href=" /services-container">Explore now</a>
                        </div>
                        <div class="specify-tile"><img src="static\imgs\livingroom.png">
                            <h2>livingroom Floor tiles</h2> <a href=" /services-container">Explore now</a>
                        </div>

                    </div>

                </div>

                <div class="info-right-container2">

                    <h2> BLACKPEARL'S PRIMIUM COLLECTION </h2>

                    <h1>Explore Our Floor Tiles</h1>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure vitae sunt quae veritatis saepe
                        ex, iste cum quod facere nihil ut dolore veniam illum possimus iusto eveniet beatae at expedita,
                        ratione odio. Nobis repellendus fugit natus, perspiciatis, error obcaecati alias ut recusandae
                        repellat sit laboriosam </p>

                    <div class="floor-img">
                        <img src="static\imgs\floortile1.jpg">
                        <img src="static\imgs\floortile2.jpg">
                        <img src="static\imgs\floortile3.jpg">
                    </div>
                    <a class="exploreall-btn2" href=" /services-container"> Explore All</a>
                </div>




            </div>

        </section>

        <section class="about-maincontainer">
            <div class="about-container">

                <div>


                    <h1> About Blackpearlceramic</h1>
                    <h2>
                        The largest manufacturer of ceramic and vitrified tiles in India with an annual aggregate
                        capacity .
                        meters,
                        distributed across eight plants. Equipped with cutting-edge technology, we at Blackpearl strive
                        to
                        deliver
                        quality products and services to our customers. Our team of experts work around the clock to
                        ensure
                        that the
                        quality of our product is never compromised. </h2>


                    <h2> In order to cater to the specific needs of our customers we produce various categories of
                        tiles,
                        including
                        kitchen tiles, bathroom tiles, wall tiles, floor tiles and exterior wall tiles. We aim at
                        producing
                        tiles
                        that complement the distinctive style of our customers and cater to the vast needs of Indian
                        audience. All
                        of our tiles are crafted with intense care using state-of-the-art technology to ensure that we
                        live
                        up to
                        the expectations of our buyers. Choicest of materials are used to produce our magnificent range
                        of
                        products.
                    </h2>

                    <h1> Designer Wall Tiles India & floor Tiles & Vitrified Tiles </h1>
                    <h2>Our mesmerizing range of Designer Wall Tiles India & floor Tiles & Vitrified Tiles have a
                        luxurious
                        appeal
                        and seem to have been struck with afflatus. The premier collection is a showstopper and has the
                        ability to
                        make any dimension look grand. Every single piece of tile from our range of Designer Wall Tiles
                        India &
                        floor Tiles & Vitrified Tiles has a compelling aura. The matt finish tiles for kitchen from our
                        collection
                        fit perfectly with modern day designs while our rustic kitchen wall tiles blend easily with
                        every
                        surrounding.</h2>
                </div>
            </div>
        </section>

        <section class="phone-header">
            <ul>
                <li class="phone-mail"> <span> Call </span> <a href="tel:+917227875505">
                        <div class="material-icons">add_ic_call</div><span>722-787-5505</span>
                    </a></li>

                <li class="phone-mail"> <span> Mail </span> <a href="mailto:blackpearlceramic1929@gmail.com">
                        <div class="material-icons">mail</div><span>blackpearlceramic1929@gmail.com</span>
                    </a></li>
                    
                <li class="social-medias">
                    <a href=""><img src="static\imgs\facebook.png"></a>
                    <a href=""><img src="static\imgs\instagram.png"></a>
                    <a href=""><img src="static\imgs\twitter.png"></a>
                    <a href=""><img src="static\imgs\linkedin.png"></a>
                </li>
            </ul>
        </section>

        <footer>Copyright © 2022 BlackpearlCeramic.com <span>| All Rights Reserved</span> </footer>
        <script src="static/index.js"></script>
        <script src="static/main.js"></script>
    </div>
</body>

</html>